# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
scr_venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE / editor settings
.vscode/
.idea/
*.swp

# Logs
*.log

# Databases & data
db/*.sqlite
data/raw/*
data/processed/*

# Env files
.env
.env.local
.env.*.local

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db

#Database
crypto.db
/данные криптовалют.xlsx
